.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header.css */
.hero-section {
  background-color: #0f172a; /* Azul escuro da imagem */
  color: white;
  padding: 40px 20px 80px;
  text-align: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px;
}

.logo-o { color: #52e085; margin-right: 5px; }

.logo-img{
  height: 200px;
  margin-bottom: -120px;
  margin-top: -100px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-primary {
  background-color: #52e085;
  border: none;
  padding: 12px 40px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #52e085;
  color: white;
  padding: 12px 40px;
  border-radius: 20px;
  cursor: pointer;
}

/* Services.css */
.services-section {
  max-width: 1000px;
  margin: -40px auto 40px; /* Sobe para sobrepor o fundo escuro */
  padding: 0 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-card {
  background-color: #e2e8f0; /* Cinza claro dos cards */
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  color: #64748b;
  font-weight: 500;
}

.section-title {
  text-align: center;
  margin: 150px 0 80px;
  color: #94a3b8;
}

.team-grid {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 200px;
}

.team-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  text-align: center;
  width: 100%;
}

.avatar {
  width: 80px;
  height: 80px;
  background: #cbd5e1;
  border-radius: 50%;
  margin: 0 auto 10px;
}

/* Footer.css */
.main-footer {
  background-color: #0f172a;
  color: #94a3b8;
  padding: 60px 20px 20px;
  font-size: 14px;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  border-bottom: 1px solid #1e293b;
  padding-bottom: 10px;
}

.footer-info h4, .footer-links h4 {
  color: white;
  margin-bottom: 15px;
}

.footer-links ul { list-style: none; padding: 0; }
.footer-links li { margin-bottom: 8px; }

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}

.qr-code {
  width: 80px;
  height: 80px;
  background: white;
  margin-bottom: 10px;
}
.logo-img-footer{
  height: 200px;
  margin-top: -40px;
}
.lojas-app-footer{
  width: 130px;
  margin-top: 10px;
}

.footer-links{
  color: #52e085;
}